<div>
  <app-nav></app-nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Remove</a>
            </li>
          </ul>
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Campaigns</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column">
            <li *ngFor="let campaign of campaigns">
              <a class="nav-link" (click)="setCurrentCampaign(campaign['campaignId'])" [routerLink]="">{{ campaign['campaignName'] }}</a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <h2>Players:</h2>
        <div *ngIf="currentCampaign && currentCampaign['activeEntities']">
          <div *ngFor="let entity of currentCampaign['activeEntities']; let i = index">
            <div class="row" *ngIf="i%5 === 0">
              <div class="col" *ngIf="i < currentCampaign['activeEntities'].length && entity['entityTypetype'] === 'player'">
                <app-entity-card [entity]="currentCampaign['activeEntities'][i]"></app-entity-card>
              </div>
            </div>
          </div>
        </div>
        <h2>Monsters:</h2>
        <div *ngIf="currentCampaign && currentCampaign['activeEntities']">
          <div *ngFor="let entity of currentCampaign['activeEntities']; let i = index">
            <div class="row" *ngIf="i%5 === 0">
              <div class="col" *ngIf="i < currentCampaign['activeEntities'].length && entity['entityTypetype'] === 'monster'">
                <app-entity-card [entity]="currentCampaign['activeEntities'][i]"></app-entity-card>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
