    <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Turn Order</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
              <ul class="nav flex-column">
                <li *ngFor="let entity of entities" [class.selected]="entity === selectedEntity" (click)="onSelect(entity)">
                  <button type="button" class="btn btn-primary" [routerLink]="" (click)="openEntityModal(entityModal)">
                    <span class="badge">{{entity.initiativeTotal}}</span> {{entity.name}} Armor={{entity.armorClass}}
                  </button>
                  <br>
                </li>
              </ul>
             
            </div>
          </nav>
          <main role="main">
              <div class="text-center mb-4">
                <h2>Round {{roundNumber}} Turn {{turnNumber}}</h2>
              </div>
              <app-active-entity></app-active-entity>
              <form>
                <input type="number" class="form-control" width="75%" placeholder="0000">
                <button class="btn btn-outline-dark" (click)="checkTarget()">Hit/Heal</button>   
                <button class="btn btn-outline-dark" (click)="addEffect()">Add Effect</button>
                <button class="btn btn-outline-dark" (click)="removeEffect()">Remove Effect</button>
              </form>
          </main>
        </div>
    </div>

     <!-- Modals -->
  <ng-template #entityModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{selectedEntity.name}} </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-entity-card [entity]="selectedEntity"></app-entity-card>
        Change Current HP
        <input type="number" id="hpChange" class="form-control" value="{{selectedEntity.currentHp}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="updateEntity(selectedEntity)" (click)="c('Save click')">Close</button>
      </div>
    </ng-template>
